<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    </div>
    <video id="background-video" autoplay loop muted>
        <source src="/video/background.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div id="conten-head">
        <div id="card">
            <div id="card2"><div id="ci"><%=c%></div></div>
           <div id="tem_div"> <h1 id="te"><%=temp%> ° C</h1></div>
    
    
         
        
    </div>

</div>
    
</body>
</html>